{% extends "base.html" %}
<meta charset =  utf-8>
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Определённый интеграл') }}</h1>
    <h2><a href="{{ url_for('main.course1_PIE') }}">{{ _('Вернутся к списку тем для 1 курса ПИЭ.') }}</a></h2>
    <div>
        <h2 align="center">Определённый интеграл</h2>
        <hr>
        <br>

        <p>
            Определённый интеграл – одно из самых фундаментальных и важных понятий в математике. 
            Существует несколько очень известных конструкций (реализаций) для этого понятия. 
            Наиболее принципиальный момент в этих конструкциях – широта классов функций, к которым их можно применить. 
            Однако для практических целей в большинстве случае достаточен самый простой подход, который мы и рассмотрим.
        </p>

        <h3>
            1. Понятие и свойства определённого интеграла от непрерывных функций
        </h3>

        <br>

        <h4>
            1.1 Задача о вычислении площади криволинейной трапеции
        </h4>

        <p>
            Пусть в системе декартовых координат хОу задана криволинейная трапеция, 
            ограниченная сверху линией y = f(𝑥), где f(𝑥) – непрерывная на отрезке [a;b] функция, 
            снизу – осью О𝑥, справа и слева – соответственно прямыми 𝑥=a и 𝑥=b (рис. 1).
            Разделим отрезок [a;b] на n равных частей точками 𝑥<sub>1</sub>, 𝑥<sub>2</sub>, ..., 𝑥<sub>i</sub>
            (далее удобно считать,что 𝑥<sub>0</sub> = a, 𝑥<sub>n</sub> = b). Через точки деления проведем прямые, 
            параллельные оси Oy. Этими прямыми криволинейная трапеция abBA разделится на n частей (малых криволинейных 
            трапеций с равными основаниями). Обозначим через S площадь исходной криво-линейной трапеции, 
            а через S<sub>i</sub>(i = <i id="Verhnee_podch">1,n</i>) – площади полученных её частей при таком разбиении (рис. 1).
        </p>

        <img src="https://static.tildacdn.com/tild3161-3739-4730-b164-306138333.."  title="рис. 1">

        <br>
        <br>

        <p>
            Рассмотрим i-ую часть криволинейной трапеции 
            (ограниченную по горизонтали прямыми 𝑥 = 𝑥<sub>i-1</sub> и 𝑥 = 𝑥<sub>i</sub>). 
            Возьмём на отрезке [𝑥<sub>i-1</sub>; 𝑥<sub>i</sub>] некоторую точку c<sub>i</sub> 
            (например, левый край отрезка, середину, правый край, …).
            Значение функции y = f(𝑥) в этой точке: f(c<sub>i</sub>) . 
            Приближенно площадь S<sub>i</sub>  i-ой части криволинейной трапеции можно заменить 
            площадью прямоугольника с основанием [𝑥<sub>i-1</sub>; 𝑥<sub>i</sub>] и высотой f(c<sub>i</sub>)
            (поскольку функция f(𝑥) непрерывна на [a, b], то в точке c<sub>i</sub> у неё существует предел, 
            равный значению в этой точке).
        </p>
        <br>

        <p >
            Обозначим ∆𝑥<sub>i</sub> = 𝑥<sub>i</sub> − 𝑥<sub>i-1</sub>. Приближённое выражение S<sub>i</sub> i-ой площади получается: 
        </p>
        <p align="center">
            S<sub>i</sub> ≈ f(c<sub>i</sub>)∆𝑥<sub>i</sub>   (2)
        </p>
        <br>

        <p>
            Аналогично поступим со всеми частями площади криволинейной трапеции, получим: 
        </p>
        <p align="center">
            S = ∑<sup>n</sup><sub>i=1</sub> S<sub>i</sub> ≈ ∑<sup>n</sup><sub>i=1</sub> f(c<sub>i</sub>)∆𝑥<sub>i</sub>   (3)
        </p>
        <br>

        <p>
            Очевидно, чем меньше по величине ∆𝑥<sub>i</sub>(i = <i id="Verhnee_podch">1,n</i>) , 
            тем точнее приближенное равенство (3). Так как отрезок [a;b] делится на n равных частей, 
            то стремление числа делений к бесконечности обеспечивает стремление 
            к нулю ∆𝑥<sub>i</sub>(i = <i id="Verhnee_podch">1,n</i>).
        </p>
        <br>

        <p>
            Если в равенстве (3) перейти к пределу при 𝑛 → ∞ ⟺ λ = ∆𝑥<sub>i</sub>(i = <i id="Verhnee_podch">1,n</i>) → 0, 
            то получим точное выражение для площади криволинейной трапеции:
        </p>
        <p align="center">
            S = lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> f(c<sub>i</sub>)∆𝑥<sub>i</sub>   (4)

        </p>
        <br>

        <p>
        Таким образом, вычисление площади криволинейной трапеции abBA свелось к вычислению предела (4).
        </p>
        <br>

        <h4>
            1.2 Интегральные суммы. Построение определённого интеграла
        </h4>

        <p>
        Отвлекаясь от решения конкретной задачи, сформулируем <b>общие принципы построения сумм, 
        называемых интегральными</b>, для непрерывных функций.
        </p>
        <br>

        <p>
        Пусть функция y = f(𝑥) непрерывна на отрезке [a, b]. Разделим отрезок [a, b] на n равных частей 
        точками 𝑥<sub>1</sub>, 𝑥<sub>2</sub>, ..., 𝑥<sub>n-1</sub> (𝑥<sub>0</sub> = a, 𝑥<sub>n</sub> = b)
        </p>
        <br>

        <p>
        Обозначим ∆𝑥<sub>i</sub> = 𝑥<sub>i</sub> − 𝑥<sub>i-1</sub>. Внутри каждого 
        отрезка [𝑥<sub>i-1</sub>; 𝑥<sub>i</sub>], 𝑖=1,…,𝑛, возьмём по точке
        C<sub>i</sub>(X<sub>i</sub> < C<sub>i</sub> < X<sub>i+1</sub>) (можно всюду брать середину отрезка). 
        Находим значение функции f(𝑥) в точках  C<sub>i</sub>: f(C<sub>i</sub>).
        </p>
        <br>

        <p>Составим сумму:</p>
        <p align="center">∑<sup>n</sup><sub>i=1</sub> f(c<sub>i</sub>)∆𝑥   (5)</p>
        <br>

        <p>
            Перейдём к пределу в сумме (5) при 𝑛 → ∞ ⟺ λ = ∆𝑥<sub>i</sub>(i = <i id="Verhnee_podch">1,n</i>) → 0 :
        </p>

        <p align="center">lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> f(c<sub>i</sub>)∆𝑥   (6)</p>
        <br>

        <p>
            Можно доказать, что для непрерывных функций при λ → 0 существует конечный предел (6), 
            который не зависит от выбора точек c<sub>i</sub> (см., в частности, неравенство (11) ниже), 
            этот предел называется определённым интегралом от функции f(𝑥) по отрезку [a, b] и символически обозначается:
        </p>
        <p align="center">∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥   (7)</p>
        <br>
        
        <p>Таким образом, по определению имеем:</p>
        <p align="center">∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 = lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> f(c<sub>i</sub>)∆𝑥<sub>i</sub>   (8)</p>
        <br>

        <p>
            Из построения определённого интеграла следует, например, что площадь S криволинейной 
            трапеции (см. п. 1.1) равна:
        </p>
        <p align="center">S = ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥   (7)</p>
        <br>

        <p>
            Однако, конструкция определённого интеграла гораздо богаче, чем просто метод вычисления площадей. 
            Заметим, в сумме (5) множители f(c<sub>i</sub>) способны быть отрицательными, 
            поэтому в общем случае определённый интеграл не равен площади, заключённой между 
            графиком функции и осью Ox (хотя вычисление таких площадей легко свести к интегралам). 
            Введённая конструкция приводит к эффективной формуле для вычисления и является основой 
            решения самых разных задач с элементами «неравномерности».
        </p>
        <br>

        <h4>
            1.3 Основные свойства определённого интеграла
        </h4>

        <p>1. Постоянный множитель можно выносить за знак интеграла, т.е.</p>
        <p align="center">∫<sup>b</sup><sub>a</sub>A*f(𝑥)d𝑥 = A*∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥</p>
        <br>

        <p>Действительно,</p>
        <p align="center">
            ∫<sup>b</sup><sub>a</sub>A*f(𝑥)d𝑥 = lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> A*f(c<sub>i</sub>)∆𝑥<sub>i</sub> = A*lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> f(c<sub>i</sub>)∆𝑥<sub>i</sub> = A*∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥</p>
        <br>

        <p>2. Определённый интеграл от суммы (разности) конечного числа (непрерывных) функций равен 
            сумме (разности) определённых интегралов от этих функций, т.е.:
        </p>
        <p align="center">
            ∫<sup>b</sup><sub>a</sub>[f(𝑥) + φ(𝑥) + ψ(𝑥)]d𝑥 = 
            ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 + ∫<sup>b</sup><sub>a</sub>φ(𝑥)d𝑥 + ∫<sup>b</sup><sub>a</sub>ψ(𝑥)d𝑥
        </p>
        <br>

        <p>Действительно,</p>
        <p align="center">
                ∫<sup>b</sup><sub>a</sub>[f(𝑥) + φ(𝑥) + ψ(𝑥)]d𝑥 = 
                lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> f(c<sub>i</sub>)∆𝑥<sub>i</sub> + 
                lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> φ(c<sub>i</sub>)∆𝑥<sub>i</sub> + 
                lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> ψ(c<sub>i</sub>)∆𝑥<sub>i</sub> = 
                ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 + ∫<sup>b</sup><sub>a</sub>φ(𝑥)d𝑥 + ∫<sup>b</sup><sub>a</sub>ψ(𝑥)d𝑥
        </p>
        <br>

        <p>
            3. При перестановке пределов интегрирования знак определённого интеграла меняется на 
            противоположный, т.е.:
        </p>
        <p align="center"> 
            Из равенства ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 = A 
        </p>
        <p align="center"> 
            следует равенство ∫<sup>a</sup><sub>b</sub>f(𝑥)d𝑥 = -A или ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 = -∫<sup>a</sup><sub>b</sub>f(𝑥)d𝑥
        </p>
        <br>

        <p>
        Для доказательства рассмотрим некоторую последовательность интегральных сумм: 
        </p>
        <p align="center">
            ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 = lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> f(c<sub>i</sub>)(𝑥<sub>i</sub> - 𝑥<sub>i-1</sub>)
        </p>
        <p align="center">
                ∫<sup>a</sup><sub>b</sub>f(𝑥)d𝑥 = lim <sub>λ → 0</sub> ∑<sup>1</sup><sub>i=n</sub> f(c<sub>i</sub>)(𝑥<sub>i-1</sub> - 𝑥<sub>i</sub>) = 
                -lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> f(c<sub>i</sub>)(𝑥<sub>i</sub> - 𝑥<sub>i-1</sub>) = -∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥
        </p>
        <br>
        
        <p>
            4. Если f(𝑥) ≥ 0 при 𝑥 ∈ [a, b], то ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 ≥ 0
        </p>
        <p>Действительно, </p>
        <p align="center">
            ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 = lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> f(c<sub>i</sub>)∆𝑥<sub>i</sub>    (9)
        </p>
        <p>
            В правой части равенства (9) состоят суммы, каждый член которых неотрицателен, 
            т.к. f(𝑥) ≥ 0, ∆𝑥<sub>i</sub> > 0. Следовательно, предел таких сумм не может быть отрицательным.
        </p>
        <br>

        <p>
            5. Если для всех точек 𝑥 ∈ [a, b] выполняется f(𝑥) ≥ φ(𝑥) , то:
        </p>
        <p align="center">
            ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 ≥ ∫<sup>b</sup><sub>a</sub>φ(𝑥)d𝑥   (10)
        </p>
        <br>
        <p>Действительно, по условию f(𝑥) - φ(𝑥) ≥ 0. Отсюда по свойству 4: ∫<sup>b</sup><sub>a</sub>[f(𝑥) - φ(𝑥)]d𝑥 ≥ 0 </p>
        <p>Следовательно, по свойству 2: ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 - ∫<sup>b</sup><sub>a</sub>φ(𝑥)d𝑥 ≥ 0, ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 ≥ ∫<sup>b</sup><sub>a</sub>φ(𝑥)d𝑥</p>
        <br>

        <p>6. Если для всех 𝑥 ∈ [a, b] выполняется m ≤ f(𝑥) ≤ M, то: </p>
        <p align="center">
            m(b-a) ≤ ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 ≤ M(b-a)   (11)
        </p>
        <p>Свойство 6 называется <b>простейшей оценкой определенного интеграла</b></p>
        <p>Действительно, по условию и свойству 5 имеем: </p>
        <p align="center">
            ∫<sup>b</sup><sub>a</sub>md𝑥 ≤ ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 ≤ ∫<sup>b</sup><sub>a</sub>Md𝑥   (12)
        </p>
        <br>

        <p>Найдем значения крайних интегралов в двойном неравенстве (12):</p>
        <p align="center">
                ∫<sup>b</sup><sub>a</sub>md𝑥 = 
                lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> m∆𝑥<sub>i</sub> =  m*lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> ∆𝑥<sub>i</sub> = m(b-a)
        </p>
        <p align="center">
            ∫<sup>b</sup><sub>a</sub>Md𝑥 = 
            lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> M∆𝑥<sub>i</sub> =  M*lim <sub>λ → 0</sub> ∑<sup>n</sup><sub>i=1</sub> ∆𝑥<sub>i</sub> = M(b-a)   (13)
        </p>
        <p>Отсюда – неравенство (11).</p>
        <br>

        <p>7. Интегральная теорема о среднем значении.</p>
        <p>
            Если f(𝑥) непрерывна на отрезке [a, b], то на этом отрезке найдется хотя бы одна такая точка 𝑥 = c, 
            что: 
        </p>
        <p align="center">
            ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 = f(c)(b-a)   (14)
        </p>
        <br>

        <p>
            <b>Доказательство.</b> Пусть m и M соответственно наименьшее и наибольшее значения 
            функции f(𝑥) на отрезке [a, b]: m ≤ f(𝑥) ≤ M. По свойству 6 имеем:
        </p>
        <p align="center">
            m(b-a) ≤ ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 ≤ M(b-a) или m ≤ 1/(b-a)*∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 ≤ M
        </p>
        <br>

        <p>
            Так как непрерывная на отрезке функция принимает все значения, находящиеся между 
            наименьшим и наибольшим значениями, то внутри отрезка [a, b] найдется по крайней мере 
            одна такая точка 𝑥 = c, что:
        </p>
        <p align="center">
            f(c) = 1/(b-a)*∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 равносильно ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 = f(c)(b-a)
        </p>
        <br>

        <h3>
            2. Вычисление определённого интеграла
        </h3>
        <br>

        <p>Формула Ньютона-Лейбница: ∫<sup>b</sup><sub>a</sub>f(𝑥)d𝑥 = F(a) - F(b), где F(𝑥) - любая первообразная(неопределённые интеграл): ∫f(𝑥)d𝑥 = F(𝑥) + C </p>
        <br>
        <hr>

        <br>
        <br>
    </div>
{% endblock %}