{% extends "base.html" %}
<meta charset =  utf-8>
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Признак Лейбница сходимости знакочередующегося ряда') }}</h1>
    <h2><a href="{{ url_for('main.course_1') }}">{{ _('Вернутся к списку тем для 1 курсов.') }}</a></h2>
    <div>
        <h2 align="center">Признак Лейбница сходимости знакочередующегося ряда</h2>
        <hr>
        <br>
        
        <p>
            Числовой ряд ∑<sup>∞</sup><sub>k=1</sub> a<sub>k</sub> называется <b>знакочередующимся</b>, если знаки любых двух соседних слагаемых противоположны: 
            <i>sign(a<sub>k+1</sub>) = -sign(a<sub>k</sub>)</i>
        </p>
        <br>

        <b>Пример 1</b>
        <p align="center">
        1 - 1/2 + 1/3 - 1/4 + ... + (-1)<sup>n-1</sup>1/n + ...
        </p>

        <br>

        <p>
            Если слагаемые знакочередующегося ряда по модулю монотонно стремятся к 0, то ряд сходится:
        </p>
        <p align="center">
            |a<sub>1</sub>| ≥ |a<sub>2</sub>| ≥ ... ≥ a<sub>k</sub> ≥ ... → 0
        </p>
        <br>

        <p>
            <i>Замечание 1.</i> Доказательство этой теоремы, как и многих признаков
            сходимости числовых рядов, опирается на теорему о существовании предела у
            монотонной ограниченной последовательности (частичных сумм ряда). Для
            знакоположительных/знакоотрицательных числовых рядов монотонное
            стремление к нулю слагаемых не является гарантией сходимости (частичные
            суммы могут быть неограниченными), но за счѐт чередования знаков слагаемых
            сходимость достигается. 
        </p>
        <br>
        <p>
            <i>Замечание 2.</i> Ясно, что для сходимости знакочередующегося ряда достаточно,
            чтобы условие теоремы стало выполняться, начиная с некоторого номера n<sub>0</sub>.
        </p>
        <br>

        <hr>
        <b>Пример 1</b> (продолжение) Исследовать на сходимость 
        <p align="center">
        1 - 1/2 + 1/3 - 1/4 + ... + (-1)<sup>n-1</sup>1/n + ...
        </p>
        <p>Данный ряд носит название ряда Лейбница.</p>
        <br>

        <b>Решение.</b> Это знакочередующийся ряд. Модули его членов убывают:
        <p align="center">
            1 > 1/2 > 1/3 > ... > 1/n > ...
        </p>
        <p>и предел их равен нулю; по признаку Лейбница ряд сходится.
        (Лейбниц показал, что значение (сумма) этого ряда равно ln2)</p>
        <br>

        
        <b><i>В примерах 2 и 3</i></b> для вычисления предела последовательности можно использовать соотношение:
        
        <p align="center">
            lim<sub>n→∞</sub> n/a<sup>n</sup> = 0 при a > 1
        </p>
        <br>

        <hr>
        <b>Пример 2</b> Исследовать сходимость ряда
        <p align="center">
            ∑<sup>∞</sup><sub>n=0</sub> (3n-1)/(-5)<sup>n</sup>
        </p>
        <b>Решение.</b> Это знакочередующийся ряд. Сначала докажем, что |a<sub>n</sub>| ≥ |a<sub>n+1</sub>|
        <p></p>
        <br>

        <b>Способ 2</b> Рассмотрим производную функции
        <p align="center">
            f(x) = (3x-1)/5<sup>x</sup> ⇒ f'(x) = (3*5<sup>x</sup> - (3x - 1)*5<sup>x</sup> * ln5)/5<sup>2x</sup>
        </p>

        Знаменатель > 0, исследуем числитель: 3*5<sup>x</sup> - (3x - 1)*5<sup>x</sup> * ln5.
        <p align="center">
            1 < ln5 < 2, поэтому ln5 - 3 * (x - 1) < 0 при x ≥ 2
        </p>

        Функция убывает, значит, модули слагаемых ряда убывают. 

        <br>

        Условие f(x) → 0 при x → ∞, очевидно, выполняется (можно применить правило Лопиталя). Ряд сходится по признаку Лейбница.
        <br>

        <p></p>
        <b>Способ 1</b>
        <p align="center">
            u<sub>n</sub> = (3n - 1)/5<sup>n</sup>; u<sub>n+1</sub> = (3(n + 1) - 1)/5<sup>n+1</sup> = (3n + 2)/5<sup>n+1</sup>
        </p>
        Рассмотрим:
        <p align="center">
            u<sub>n</sub> - u<sub>n+1</sub> = (3n - 1)/5<sup>n</sup> - (3n + 2)/5<sup>n+1</sup> = (15n - 5 - 3n - 2)/5<sup>n+1</sup> = (12n - 7)/5<sup>n+1</sup>
        </p>

        <br>

        Для всех n ≥ 1 выполняется неравенство 12n − 7 > 0. то есть члены ряда по модулю убывают. Найдѐм предел модуля общего члена ряда (применяя правило Лопиталя???):
        <p align="center">
            lim<sub>n→∞</sub> |(3n - 1)/(-5)<sup>n</sup>| = lim<sub>n→∞</sub> (3n - 1)/5<sup>n</sup> = ∞/∞  = lim<sub>n→∞</sub> 3/(5<sup>n</sup>ln5) = 0
        </p>
        Оба условия признака Лейбница выполнены.
        <p></p>
        <br>

        <hr>
        <b>Пример 3</b> Исследовать сходимость ряда
        <p align="center">
            ∑<sup>∞</sup><sub>n=0</sub> (3n + 5)/(-2)<sup>n</sup>
        </p>
        <b>Решение.</b> Это знакочередующийся ряд. Выясним, выполняется ли первое условие признака Лейбница.
        <p></p>
        <p align="center">
            Так как u<sub>n+1</sub> = (3(n + 1) + 5)/2<sup>n+1</sup> = (3n + 8)/2<sup>n+1</sup>, то
        </p>
        <p align="center">
            u<sub>n</sub> - u<sub>n+1</sub> = (3n + 5)/2<sup>n</sup> - (3n + 8)/2<sup>n+1</sup> = (6n + 10 - 3n - 8)/2<sup>n+1</sup> = (3n + 2)/2<sup>n+1</sup>
        </p>

        Так как n ≥ 0, то 3n + 2 > 0. В свою очередь, 2<sup>n+1</sup> > 0 для каждого n, поэтому (3n + 2)/2<sup>n+1</sup>. 
        Следовательно, члены ряда по абсолютному значению убывают. Первый признак Лейбница выполняется. 
        Выясним, равен ли нулю предел общего члена ряда (применяя правило Лопиталя???):
        <p></p>
        <p align="center">
            lim<sub>n→∞</sub> |(3n + 5)/(-2)<sup>n</sup>| = lim<sub>n→∞</sub> (3n + 5)/2<sup>n</sup> = ∞/∞  = lim<sub>n→∞</sub> 3/(2<sup>n</sup>ln2) = 0
        </p>
        <p>Получили нулевое значение. Оба условия признака Лейбница выполняются, поэтому данный ряд сходится.</p>

        <br>

        <hr>
        <p>
            Числовой ряд ∑<sup>∞</sup><sub>k=1</sub> a<sub>k</sub> называется <b>абсолютно сходящимся</b>, если сходится: 
        </p>
        <p align="center">
            ∑<sup>∞</sup><sub>k=1</sub> |a<sub>k</sub>|
        </p>
        <br>
        <p>
        Из абсолютной сходимости числового ряда следует его обычная сходимость
        (несколько упрощѐнно соотношение можно представить так: если сумма
        знакоположительно ряда конечна, то, поставив перед некоторыми его
        слагаемыми знак "-" , получим «перемешивание» слагаемых двух рядов –
        знакоположительного и знакоотрицательного, оба из которых сходятся.
        Сумма (значение) «перемешанного» ряда равно сумме значений
        знакопостоянных),
        </p>

        <br>
        <hr>

        <br>
        <br>

    </div>
    <h1>
        <a href="{{ url_for('main.test') }}">{{ _('Тест') }}</a>
        </h1>
{% endblock %}