{% extends "base.html" %}
<meta charset =  utf-8>
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h3>Здесь вы можете потратить монетки :)</h3>
    <hr>

    <div style="background-color: #EEF1F3; border-radius: 10px; padding: 2%;">
        <a href="{{ url_for('main.shop_1') }}" target="_blank">{{ _('Скидочка') }}</a> {{ ('10 coin') }}
    </div>

    <br>

    <div style="background-color: #EEF1F3; border-radius: 10px; padding: 2%;">
        <a href="{{ url_for('main.shop_2') }}" target="_blank">{{ _('Бонус') }}</a> {{ ('50 coin') }}

    </div>

    <br>

    <div style="background-color: #EEF1F3; border-radius: 10px; padding: 2%;">
        <a href="{{ url_for('main.shop_3') }}" target="_blank">{{ _('Мерч') }}</a> {{ ('50 coin') }}

    </div>
 
{% endblock %}