{% extends "base.html" %}
<meta charset =  utf-8>
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h4>Баланс ваших монеток доступен в вашем профиле.</h4>
    <h3>Здесь вы можете потратить монетки :)</h3>
    <hr>

    <div style="background-color: #86DEB3; border-radius: 10px; padding: 2%;">
        Первое (1000 Coin)
    </div>

    <br>

    <div style="background-color: #FFB7FF; border-radius: 10px; padding: 2%;">
        Второе (1500 coin)
   
    </div>

    <br>

    <div style="background-color: #FFDB74; border-radius: 10px; padding: 2%;">
        Третье (2000 coin)
    
    </div>
 
{% endblock %}