{% extends "base.html" %}
<meta charset =  utf-8>
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h3>1 задача</h3>
    <img src = 'https://lh3.googleusercontent.com/fLKiow4wQJF2dtVycjHGoqdjGokywJ_KsbQJZcyx_A77GC_qcfAewiWYHjdMWGLZjiZtIvAOjW736rVs__4UeHxpfSl0CODkJdZLEIH93BKKenhLH3F6hKatmFAw_B7n65g39ekmNBkn7WWlWX5tyXAzVuI806VHXrrBHweiNshNYxdXdC9bT3O4iCulCcDQSC9aqyF3-0NNd5TPdMoVhrSepvf99Fh4e2yby5BIz1T1TB8-7PU2BJBEm-y4ioUAJEVb63pRgc9lXVxOOv8hvWHSmpaax7vLhvnLZ-q1k3Qo2SOnEPDRK5V1nHWCmgPRgJBJ79_M_xe-UycCAA81Ptp5Cxd3VC19lJYCOlrFG4wy1hVkrdpWhfYbUWC9SvL4QA0e7tNmT9mh3XPjwUgWbnx9do9bWmpuWXu_F1WnRh2dgdmVqSh37a2a4-LscvniGWV7va5eaN7UXC_HT7JfUuEIY4CiPq119WQtG-qdwbKW7b-uJ5r7VRs4hIH6b2UXAgwZ-J-0Or1GLHZuttK2q3_RMW3U1aWRpeo58gZFhKk2xsSn6_kw1Y3qxxiAO2WLz3v3LYDwp5f9jjdWj8--uhatBGqIUzstY5kxM5oIgEsL9aqPfIyC7xxEXij9hDczt0FaPjLWRyibMehLj71mVGLqZG6LCshaIEit_NNcRpk2gRdBtcvLXmM2X2s=w563-h207-no?authuser=0'>
    <h2>
        Ваш ответ:
    </h2>
    <h3>
    <a href="{{ url_for('main.testgood') }}">{{ _('сходится') }}</a>
        </h3>
    <h3>
        <a href="{{ url_for('main.testbad') }}">{{ _('не сходится') }}</a>
    </h3>
{% endblock %}