{% extends "base.html" %}
<meta charset =  utf-8>
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2><a href="{{ url_for('main.course1_PIE') }}">{{ _('Вернутся к списку тем для 1 курса ПИЭ.') }}</a></h2>
    <h3>1 задача</h3>
    <img src = 'https://static.tildacdn.com/tild3561-3362-4230-b433-343361333661/image.png'>
    <h2>
        Ваш ответ:
    </h2>
    <h3>
    <a href="{{ url_for('main.testgood') }}">{{ _('сходится') }}</a>
        </h3>
    <h3>
        <a href="{{ url_for('main.testbad') }}">{{ _('не сходится') }}</a>
    </h3>
{% endblock %}